@import "../../assets/scss/variable";
@import "../../assets/scss/mixin";

$wide-1: 8.33%;
$wide-2: 16.66%;
$wide-3: 24.99%;
$wide-4: 33.32%;
$wide-5: 41.65%;
$wide-6: 49.98%;
$wide-7: 58.31%;
$wide-8: 66.64%;
$wide-9: 74.97%;
$wide-10: 83.3%;
$wide-11: 91.63%;
$wide-12: 100%;

.g {
	&--grid {
		$this: ".g--grid";
		@include flex;
		@include flex-wrap(wrap);
	}
}
