@import '../../assets/scss/mixin';
@import '../../assets/scss/variable';

.container{
  margin: 0 auto;
  width: 100%;
  max-width: $tablet-landscape;
  padding-left: #{$unit * 4};
  padding-right: #{$unit * 4};
  @include media($tablet){
    padding-left: #{$unit * 2};
    padding-right: #{$unit * 2};
  }
  @include media($mobile){
    padding-left: #{$unit};
    padding-right: #{$unit};
  }
}